# Clojure artifacts
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.repl
/static/js/out

# Build locations
/static/js/main.js*
/static/css
/out

# Random artifacts
scratch.*
.sass-cache

# Vim swapfiles
*.sw[a-p]

# Project-specific symlinks
jednotka_active.scss
