<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Raise Your (Admin) Game</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <p>Flash of unstyled content.</p>
      </div>
    </div>

    {% style "/css/admin_screen.css" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script src="/js/compiled/admin/admin.js" type="text/javascript"></script>
  </body>
</html>
